---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

h1 {
  font-weight: bold;
  color: #1B7E48;
  font-family: cursive;
}